/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
 

 .bg-info, .bg-info>a {
    color: #fff!important;
  }
  
  .bg-info {
    background-color: #17a2b8!important;
  }

  .small-box {
    border-radius: .25rem;
    box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
    display: block;
    margin-bottom: 20px;
    position: relative;
  }
  
  .small-box>.inner {
    padding: 10px;
  }
  .small-box .icon {
    color: rgba(0,0,0,.15);
    z-index: 0;
  }
  .small-box .icon>i {
    font-size: 70px;
    position: absolute;
    right: 15px;
    top: 15px;
    transition: transform .3s linear;
  }
  .small-box>.small-box-footer {
    background-color: rgba(0,0,0,.1);
    color: rgba(255,255,255,.8);
    display: block;
    padding: 3px 0;
    position: relative;
    text-align: center;
    text-decoration: none;
    z-index: 10;
  }
  .dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: .5em 0em !important;
  }